@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Gideon+Roman&display=swap');

body {
    background:  black center fixed
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  width: 500px;
  height: auto;
}

h5 {
    color: white;
    display: block;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

h2 {
    color: darkred;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.goal {
    text-align: center;
}

.conteat{
    position:relative;
    width: 100px; 
    height: 50px;
    border: 1px solid black;
    top: 150px;
    left: 1300px;
    

}

.bottom-right-text{
    font-family:"Italianno", cursive;
    text-align: right;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}
